*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 0px;
}
@media (min-width:250px) and (max-width: 900px) {
    div{
        flex-direction: column !important;
    }
    p{
        padding: 30px 100px;
        text-align: center;
    }
} 

body{
    background-color: #9acd32;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 50px;
}
h1{
    color: #ff0000;
    font-size: 5rem;
    font-family: sans-serif;
    text-align: center;
}
p{
    font-size: 2rem;
    color: #a17575;
    font-family: cursive;
}
img{
    width: 400px;
    height: 400px;
    margin-left: 10px;
}